<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MechmodShow</title>
</head>
<body>
<table border="1">

    <tr>
        <th>ID</th>

        <th>Name</th>

        <th>Brand</th>

        <th>Color</th>

    </tr>

    <tr th:each="rta : ${mechmodshow}">

        <td th:utext="${mechmod.id}"></td>

        <td th:utext="${mechmod.mechmodName}"></td>

        <td th:utext="${mechmod.mechmodBrand}"></td>

        <td th:utext="${mechmod.mechmodColor}"></td>


    </tr>

</table>

</body>
</html>